footer{
    background-color: #F2DCC2;
}

#footer_items {
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
}

#copyright {
    color: #272727;
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    #footer-items {
        flex-direction: column;
        font-weight: 500;
    }
}